@page
@model clients.Pages.Users.AddAttendanceModel
@{
}
<h1>Add Attendance Employee</h1>
<form method="post">
    <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control" id="attendance_Date" asp-for="attendance.Date" required min="@DateTime.Today.ToString("yyyy-MM-dd")">
    </div>
    <div class="form-group">
        <label asp-for="attendance.Hour" class="control-label">Hour</label>
        <input asp-for="attendance.Hour" class="form-control" />
        <span asp-validation-for="attendance.Hour" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="attendance.OTHour" class="control-label">OT Hour</label>
        <input asp-for="attendance.OTHour" class="form-control" />
        <span asp-validation-for="attendance.OTHour" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="attendance.Type" class="control-label">Type</label>
        <select asp-for="attendance.Type" class="form-control">
            <option value="0">Online</option>
            <option value="1">Offline</option>
        </select>
        <span asp-validation-for="attendance.Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-secondary" />
    </div>
</form>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<script>
    $(document).ready(function () {
        $('#attendance_Date').change(function () {
            var selectedDate = new Date($(this).val());
            if (selectedDate.getDay() == 0 || selectedDate.getDay() == 6) {
                alert('Please select a date from Monday to Friday.');
                $(this).val('');
            }
        });

        $('#attendance_Date').change(function () {
            var selectedDate = new Date($(this).val());
            var currentDate = new Date();

            // Kiểm tra xem ngày được chọn có phải là ngày trong tương lai hay không
            if (selectedDate > currentDate) {
                alert('Bạn chỉ có thể chọn ngày ngày hiện tại.');
                $(this).val(''); // Xóa giá trị ngày được chọn
            }
        });
    });
</script>
